.products-component-container{
  display: flex;
  flex-direction: column;

}
.main-content-row {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 24px;
  width: 100%;
  align-items: start;
}
.products-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    align-items: center;
    max-width: 1600px;
  }
  .categories-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  .categories-row button {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    cursor: pointer;
    
  }
  .categories-row button:hover {
    background-color: #e0e0e0;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

  }
  .price-filter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 150px;
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  .product-card {
  display: flex;
  flex-direction: column;
  height: 330px;
}

.product-card img {
  height: 200px;
  object-fit: cover;
}

.product-card .description {
  flex: 1;
  overflow: hidden;
}
.price-range {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price-range input {
  width: 100%;
  height: 20px; 
  flex: 1;
}

.price-range .dash {
  flex: 0;
  opacity: 0.6;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.range-slider {
  position: relative;
  height: 24px;
}

.range-slider input[type="range"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
