.product-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: stretch;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.product-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.06);

}
.product-card img,
.product-card h3 {
  align-self: center;
  padding-top: 30px;
}
.card-footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-card img {
  width: 80%;
  height: 50%;
  object-fit: fill;
  border-radius: 4px;
}
.product-card h3 {
  margin: auto;
  font-weight: 500;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  min-height: 3em;
}

.card-footer .price {
  margin: 0;
  font-weight: bold;
}
.cart-button {
  background-color: red;
}

.product-card button {
  margin-top: auto;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}
.buttons {
  display: flex;
  justify-content: start;
  margin-top: auto;
  gap: 0.5rem;
  align-items: flex-end;
}
.not-in-cart {
  padding: 6px;
  border-radius: 5px;
  background-color: red;
}
.in-cart{
  background-color: rgb(242, 242, 242);
  color: rgb(102, 183, 221);
  padding: 6px;


}
.not-in-cart:hover {
  background-color: #f06060;
}
.in-wishlist {
  color: red;
}
.not-in-wishlist {
  color: black;
}
.not-in-wishlist:hover {
  color: red;
}
